/*
** Colors
*/
/*
** Global Admin UI 
*/
/* Left Navigation Menu */
.nav-header {
  background-color: #dddddd;
  color: #000000;
  cursor: pointer;
}
#contentnav {
  overflow: auto;
  max-height: 600px;
}
/* Content Tree */
#content_tree a.active {
  background-color: #eee;
}
/* Forms */
form .full-width {
  width: 90%;
}
