/*
** Colors
*/
/*
** Global Admin UI 
*/
.hide, .hidden {
  display: none;
}
/* Left Navigation Menu */
.nav-header {
  background-color: #dddddd;
  color: #000000;
  cursor: pointer;
}
#contentnav {
  overflow: auto;
  max-height: 600px;
}
/* Content Tree */
#content_tree_control {
  padding: 6px 0;
}
#content_tree a.active {
  background-color: #eee;
}
#content_tree_menu {
  margin-bottom: 0px;
}
#content_tree_menu .navbar-inner {
  padding-left: 0px;
  padding-right: 0px;
  min-height: 36px;
}
#content_tree_menu li {
  line-height: 14px;
}
#content_tree_menu .caret {
  margin-top: 6px;
}
/* Forms */
form .full-width {
  width: 90%;
}
.mceLayout {
  margin-bottom: 10px !important;
}
