/*
** Colors
*/

@navhead-bg: #DDDDDD;
@navhead-co: #000000;

/*
** Global Admin UI 
*/

/* Left Navigation Menu */

.nav-header { background-color: @navhead-bg; color: @navhead-co; cursor: pointer; }

#contentnav { overflow: auto; max-height: 600px; }

/* Content Tree */

#content_tree a.active {
  background-color: #eee;
}
