<div class="hero-unit">
    <h1>Some CMS Dasboard</h1>
    <p>No UI yet. Here are some API methods...</p>
    <ul>
        <li>
            <a href="api/page/list">page/list</a>
        </li>
        <li>
            <a href="#pages" onclick="">test pages</a>
        </li>
    </ul>
    <button onclick="app.navigate('pages', {trigger: true});">Click me</button>
    <p>
        <a href="apidoc.html" class="btn btn-primary btn-large">API Documentation</a>
    </p>
    <div id="pages"></div>
</div>
<div class="row-fluid">
    <div class="span6">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus
            ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo
            sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed
            odio dui.</p>
        <p>
            <a class="btn" href="#">View details &raquo;</a>
        </p>
    </div>
    <!--/span-->
    <div class="span6">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus
            ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo
            sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed
            odio dui.</p>
        <p>
            <a class="btn" href="#">View details &raquo;</a>
        </p>
    </div>
    <!--/span-->
</div>
<!--/row-->
