<div id="apidoc">
  <h1>Some CMS API Documentation</h1>
  
  <p>The API is delivered as a simple web service. Queries use GET and
      updates use POST. The API is organized into sections and actions. 
      URLs for API methods are formed as follows: some/api/[section]/[action].
      If action is omitted, the index action is assumed.
  </p>
  
  <h2>Table of Contents</h2>
  
  <b><a href="#page">Page</a></b>
  <ul>
      <li><a href="#page_list">List</a></li>
  </ul>
  
  <a name="#page"></a>
  <h2>Page</h2>
  <p>The /page section contains actions to manage pages within the CMS.</p>
  
  <a name="#page_list"></a>
  <h3>List</h3>
  <code>some/api/page/list</code>
  <p>Returns a list of pages.</p>
  <b>Options:</b>
  <dl>
      <dt>limit</dt>
      <dd>A numeric value specifies how many pages to return. The first
          200 are returned if not specified. A range can also be specified
          in the form <code>offset,limit</code> such that <code>10,10</code>
          returns pages 11 through 20.
      </dd>
  </dl>
</div>
