
<div id="sidebar"> 
  <div class="span3">
    <div class="well sidebar-nav">
      <ul class="nav nav-list">
        <li class="nav-header" data-toggle="collapse" data-target="#contentnav">Content</li>
      </ul>
      <div class="nav nav-list collapse in" id="contentnav">
      </div>
      <ul class="nav nav-list">
        <li class="nav-header" data-toggle="collapse" data-target="#filesnav">Files</li>
      </ul>
      <div class="nav nav-list collapse out" id="filesnav">
          Files tree goes here.
      </div>
      <ul class="nav nav-list">
        <li class="nav-header" data-toggle="collapse" data-target="#settingsnav">Settings</li>
      </ul>
      <ul class="nav nav-list collapse out" id="settingsnav">
        <li><a href="#/dashboard">Dashboard</a></li>
        <li><a href="#/apidoc">API Documentation</a></li>
      </ul>
    </div><!--/.well -->
  </div><!--/span-->
</div>
