
<div id="sidebar"> 
  <div class="span3">
    <div class="well sidebar-nav">
      <ul class="nav nav-list">
        <li class="nav-header" data-toggle="collapse" data-target="#content_tree">Content</li>
      </ul>
      <div id="content_tree">
      </div>
      <ul class="nav nav-list">
        <li class="nav-header" data-toggle="collapse" data-target="#filesnav">Files</li>
      </ul>
      <div class="nav nav-list collapse out" id="filesnav">
          Files tree goes here.
      </div>
      <ul class="nav nav-list">
        <li class="nav-header" data-toggle="collapse" data-target="#settingsnav">Settings</li>
      </ul>
      <ul class="nav nav-list collapse out" id="settingsnav">
        <li><a href="#/dashboard">Dashboard</a></li>
        <li><a href="#/apidoc">API Documentation</a></li>
      </ul>
    </div><!--/.well -->
  </div><!--/span-->
</div>

<div id="sidebar-content-tree">
  <div id="content_tree_menu" class="navbar">
    <div class="navbar-inner">
      <ul class="nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            {{contenttree_menu_new}}
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><a href="javascript:void(0)" id="contenttree_menu_new_page">{{contenttree_menu_page}}</a></li>
          </ul>
        </li>
        <li><a href="#" id="contenttree_menu_delete">{{contenttree_menu_delete}}</a></li>
      </ul>
    </div>
  </div>
  <div id="content_tree_control"></div>
</div>
